<html>
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo velit cumque necessitatibus earum, nobis quisquam rem quis fugit </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo velit cumque necessitatibus earum, nobis quisquam rem quis fugit </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo velit cumque necessitatibus earum, nobis quisquam rem quis fugit </p>
        </div>
        <%- include('./partials/footer.ejs') %>

    </body>
</html>